.artikler-kontainer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 5px;
        width: 500px;
        height: 500px;
        border: solid;
        border-color: red;
        text-align: center;
        
    }