.artikler {
    display: grid;
    gap: 10px;
}



.articler-liste {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    max-width: auto;
    
    
    }

.artikler-kontainer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 5px;
        width: 1000;
        border: solid;
        border-color: red;
        text-align: center;
    }