.artikler {
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     gap: 5px;
     border: solid;
     border-color: yellow;
     max-width: 480px;
     margin: auto;
    }

    .artikler-kontainer {
        background-color: white;
        text-wrap: wrap;
        text-align: center;
        gap: 5px;
    }

