.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.nav-links {
    display: flex;
    display: grid;
    display: none;
}