* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;

}

ol {
  list-style-type: none;
  padding: 0px;
}

body > main > h1 {
  color: red;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  gap: 0.5rem;
  background-color: red;
  border-color: yellow;

}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 2px yellow;
  text-align: center;
  background-color: blue;
  color: black;

  
}

nav a[aria-current='page'] {
  color: black;
  background-color: blue;
}

nav > a > image {
 display: left;
 position: left;
 justify-content: left;
}

nav > a image {
  display: right;
  position: right;
  justify-content: end;
}

nav > h2 {
  color: black;
}

 nav > div > button {
  border: solid 2px yellow;
  background-color: blue;
  color: black;
  border-radius: 0.2rem;
}


.logo {
  display: flex;
  gap: 5px;
  width: 384px;
  height: 155px;
}

main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
  
}

.Side-main {
    border: solid;
}

.mySlides {
  display: none;
}

.mySlides > image {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.w3-button {
  display: none;
}



section {
  border: solid;
  display: flex;
  min-width: 9rem;
  padding: 300px;
  border-radius: 0.2rem;
  border: solid 2px yellow;
  background-color: blue;
  margin: 0%;
}



footer {
  border: solid;
  display: flex;
  min-width: 9rem;
  padding: 25px;
  border-radius: 0.2rem;
  border: solid 2px yellow;
  background-color: blue;
}