* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: black;

}

ol {
  list-style-type: none;
  padding: 0px;
}

body > main > h1 {
  color: red;
}

.meny-nåverende-1 .meny-click-1 > p {
 background-color: aqua;
 color: black;
 border-color: orange;

}

.meny-nåverende-1 .info-pos-plan.steg-1 {
 display: absolute;

}

.meny-nåverende-2 .meny-click-2 > p {
  background-color: aqua;
  color: black;
  border-color: orange;
  
}

.meny-nåverende-2 .info-pos.steg-2 {
  display: absolute;
}


.meny-nåverende-3 .meny-click-3 > p {
  background-color: aqua;
  color: black;
  border-color: orange;
  
}

.meny-nåverende-3 .info-pos.steg-3 {
  display: absolute;
  
}


.meny-nåverende-4 .meny-click-4 > p {
  background-color: aqua;
  color: black;
  border-color: orange;
  
}

.meny-nåverende-4 .info-pos.steg-4 {
  display: absolute;
  
}



nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px white;
  background-color: red;
  border-color: yellow;

}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 2px yellow;
  text-align: center;
  background-color: blue;
  color: black;
  
}

nav a[aria-current='page'] {
  color: #000;
  background-color: blue;
}

main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

.multi-step {
  border: solid;
  background-color: red;
  border-color: yellow;
  display: flex;
  padding: 5px;
  gap: 45px;
  max-width: 600px;
  border-radius: 10px;
  margin: 20%;
}



.meny-del > div > .meny-steg {
  font-weight: bold;
 
}

.meny-del > div > .meny-navn {
  font-weight: lighter;
  color: gray;
}



.meny-del > div > p {
   margin: 0%;
  
}

.meny-del > p {
  border: solid;
  background-color: blue;
  border-color: yellow;
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  padding: 15px;

}

.meny-del {
  display: flex;
  gap: 15px;
 
}

.meny-del-2 {
  display: none;
  border: solid;
  border-color: yellow;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  width: 800px;
  
}

.meny-del-2 > div > hi {
  font-weight: bold;
  color: red;
}

.meny-del-2 > div > button {
  border-radius: 25%;
  border-color: yellow;
  background-color: rgb(0, 60, 255);
  padding: 5px;
  
}

.meny-del-2 > .button-pos {
  display: flex;
  justify-content: end;

}

.Memdlemskap {
 text-align: center;

}

.list-pos {
 display: grid;
 row-gap: 5px;
 text-align: column;
 max-width: 140px;
 
 

}

.info-pos-plan {
  margin: 107px;
 }

.info-pos-plan > div {
  align-items: center;
  justify-content: center;
  text-align: center;
  row-gap: 5px;
  text-emphasis-position: over right;
}

 footer {
  border: solid;
  display: flex;
  min-width: 9rem;
  padding: 25px;
  border-radius: 0.2rem;
  border: solid 2px yellow;
  background-color: red;
}